# Authentication
JWT_SECRET_BASE64=change_me_with_a_base64_encoded_32_byte_secret
JWT_EXPIRATION=900
REFRESH_TOKEN_EXPIRATION=7

AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=Strict

# Development administrator
ADMIN_BOOTSTRAP_ENABLED=true
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@clinica.local
ADMIN_PASSWORD=change_me